* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.hero-paragraphs {
  flex-wrap: wrap;
  margin-top: 10%;
  width: 100%;
  display: flex;
  margin-bottom: 15%;
}

.left-paragraph h1 {
  font-size: 60px;
  margin-top: 10px;
}
.left-paragraph p {
  font-size: 20px;
  color: white;
  margin-top: 30px;
}

.left-paragraph {
  width: 50%;
  padding-left: 60px;
}
.rotate {
  border: white 1px solid;
  rotate: 10deg;
  background-color: black;
  transition: 1s;
}
.right-paragraph {
  width: 45%;
  border: 1px solid white;
  border-radius: 10px;
  rotate: -10deg;
  margin-left: 20px;
  background-color: black;
  transition: 1s;
}
.rotate1{
  border: 1px solid white;
  border-radius:10px ;
  rotate: 10deg;
  transition: 1s;
}
.right-paragraph > .rotate > .rotate1 > img {
  width: 100%;
  border-radius: 10px;
}

.right-paragraph > div {
  border: 1px solid white;
  rotate: 10deg;
  border-radius: 10px;
}

button {
  border-radius: 20px;
  padding: 10px;
  margin-top: 60px;
}

.black {
  background-color: black;
  color: white;
}

.white {
  background-color: white;
  color: black;
}

.numbers ul {
  display: flex;
  margin-top: 18%;
  margin-left: 3%;
  gap: 30px;
  padding: 0;
  list-style: none;
}

.numbers ul li {
  list-style: none;
}

.container1 {
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 100%;
}
.right-paragraph:hover{
  rotate: 0deg;

}
.rotate:hover{
  rotate: 0deg;
}
.rotate1:hover{
  rotate: 0deg;
}
.link{
  list-style: none;

}
.left-paragraph>.link{
  text-decoration: none;
}
.left-paragraph > .link:hover{
  background-color: transparent;
}