* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.head {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 10px 60px;
    padding-top: 30px;
}

.nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav ul li {
    list-style: none;
    font-size: 1.2em;
    border-radius: 10px;
    padding: 0px 10px;
    transition: 0.5s;
    border-bottom: none;
    color: white;
}

.nav > h1 {
    font-size: 40px;
    margin-right: auto;
    color: white;
}

.link {
    text-decoration: none;
    padding: 10px;
    border-radius: 30px;
    color: white;
    display: inline-block;
  }
  
  .link:hover {
    background-color: rgb(114, 114, 114);
    color: white;
  }
  
  .link.active {
    background-color: rgb(114, 114, 114); 
    color: white;
  }
  
  .link {
    transition: background-color 0.3s ease;
  }
