*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.contaner {
  width: 100%;
  height: 90vh;
  display: flex;
  padding: 2%;
  gap: 50px;
  /* background-image: url(https://img.freepik.com/free-photo/human-brain-medical-digital-illustration_53876-103046.jpg?t=st=1733019807~exp=1733023407~hmac=c6a45076f09c6ed7fdfc6e0614c28fa596b964389e2540659a95779a049d8444&w=1060); */
 
}

.right {
  width: 50%;
  height: 100vh;
}

.left > p {
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.left > h1 {
  font-size: 60px;
  color: red;
  padding-top: 10%;
}
.left {
  width: 50%;
  height: 100vh;
  padding-left: 60px;
}
.right > img {
  width: 100%;
  height: 60vh;
  object-fit: contain;
  padding-top: 10%;

}
button {
  background-color:black ;
  border-radius: 5px;
  padding: 8px 14px;
  border: 1px solid;
  color: white;
}
button:active{
transform: scale(0.9);
background-color: rgb(53, 53, 53);
}
.box1{
  margin-top: 20%;
  font-size: 30px;
  display: flex;
  gap: 40px;
}
.box1 > div > p{
  font-size: 20px;
}