* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.head {
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.nav img{
    width: 80px;
    border-radius:20px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 10px 50px;
}

.nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    
}

.nav ul li {
    list-style: none;
    font-size: 1.2em;
    border-radius: 10px ;
    padding: 0px 10px;
    transition: 0.5s
}
.left li:hover{
    background: red;
    color: white;
cursor: pointer;
    
}

.left li img {
    width: 60px;
    height: auto;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 8px 20px 4px;
    margin: 10px;
}

.left {
    display: flex;
    gap: 20px;
    align-items: center;
}

.right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.right li button {
    width: auto;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
    color: black;
    padding: 0 10px;
    background-color: transparent;
    font-size: 1em;
    transition: box-shadow 0.3s ease;
}
.right li button:hover {
    box-shadow: 0px 12px 18px  rgba(0, 0, 0, 0.5);
 
}