
button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    color: white;
    transition: 1s;
}
button:active{
    background-color: white;
    color: black;
    transform: scale(0.5) ;   
}